output/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ipr
*.iws

#Compiled target packages
######################
target/
project/target/
.idea/
.idea
.idea/workspace.xml
.ensime

.ensime_cache
lib/sqljdbc42.jar
